@import "reset.scss";

@font-face {
    font-family: 'Commissioner';
    font-weight: 500;
    src: url('../fonts/CommissionerFlair-Medium.ttf');
}
@font-face {
    font-family: 'Commissioner';
    font-weight: 600;
    src: url('../fonts/CommissionerFlair-SemiBold.ttf');
}
@font-face {
    font-family: 'Commissioner';
    font-weight: 400;
    src: url('../fonts/CommissionerLoud-Light.ttf');
}
body {
    font-family: 'Commissioner';
    font-weight: 500;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1400px;
}

.header {
    z-index: 10;
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;  
        
        &-items:not(:first-child) {
            margin-left: 20px;
        }

        min-width: 500px;

        &-items {
            transition-duration: 0.5s;
            cursor: pointer;

            &:hover {
                color: #018FA3;
            }

            &:active {
                color: #025f6c;
            }
        }
    }
    &__contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__phone {
        margin-left: 10px;
    }
}

.description {
    
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

  //  position: relative;
    &__background {
        position: absolute;
        top:0;
        right: 0;
        z-index: -2;
    }

    &__dog {
        position: absolute;
        right: 0;
        top: 30px;
        z-index: -1;
    }

    &__text {
        max-width: 50%;
        margin-top: 90px;
    }

    &__title {
        font-size: 48px;
        font-weight: 600;
        span {
            color: #018FA3;
        }
    }

    &__subtite {
        font-size: 24px;
        margin-top: 44px;
        max-width: 80%;
    }

    &__auth {
        width: 244px;
        height: 65px;
        text-align: center;
        border: 0;
        border-radius:30px;
        background-color: #FAE01A;
        font-size: 20px;
        margin-top: 44px;
        font-weight: 500;
        &:hover {
            background-color: #018FA3;
            color: white;
        }

        &:active {
            background-color: #025f6c;
            color: white;            
        }

        transition-duration: 0.5s;
    }

}

.facts {
    margin-top: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    position: relative;

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
       //position: relative;
    }

    &__backround-1 {
        position: absolute;
        top: 80px;
        left: 40px;
    }

    &__backround-2 {
        position: absolute;
        top: 150px;
        left: 80px;
    }

    &__text {
        position: absolute;
        z-index: 1;
        top: 180px;
        left: 130px;

        max-width: 340px;
    }

    &__right {
        position: relative;
    }

    &__border {
        position: absolute;
        right: 0;
        top: 20px;
    }

    &__dog {
        position: absolute;
        right: 20px;
    }
}

.funfact {
    margin-top: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
       //position: relative;
    }

    &__backround-1 {
        position: absolute;
        top: 150px;
        right: 40px;
    }

    &__backround-2 {
        position: absolute;
        top: 120px;
        right: 80px;
    }

    &__text {
        position: absolute;
        z-index: 1;
        top: 145px;
        right: 145px;

        max-width: 340px;
    }

    &__right {
     //   position: relative;
    }

    &__border {
        position: absolute;
        left: 40px;
        top: 20px;
    }

    &__dog {
        position: absolute;
        left: 60px;
        top: 40px;
    }
}

.footer {
    margin-top: 600px;
   // margin-bottom: 0;
    background-color: #018FA3;
    height: 155px;

    &__logo {
        padding-top: 26px;
    }

    &__map {
        margin-top: 100px;
    }
}

.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: sani 0.5s forwards;
    animation: sani 0.5s forwards;
    -webkit-box-shadow: 5px 5px 8px 1px rgba(34, 60, 80, 0.24);
    box-shadow: 5px 5px 8px 1px rgba(34, 60, 80, 0.24); 
    width: 400px;
    height: 650px;
    border-radius: 30px;
    background-color: #F6FAFF;

    &__title {
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 28px;
        max-width: 205px;
    }

    &__data {
        margin: 0 auto;
    }

    &__input {
        margin: 0 auto;
        margin-left: 20px;
        font-family: 'Commissioner';
        font-weight: 400;
        border-radius: 20px;
        padding: 20px;
        border: 0px;
        width: 300px;
        color: #c2c2c2;

        margin-bottom: 20px;

        -webkit-box-shadow: 5px 5px 8px 1px rgba(34, 60, 80, 0.1);
        box-shadow: 5px 5px 8px 1px rgba(34, 60, 80, 0.1); 
    }

    &__file {
        border-radius: 20px;
        border: 0px;
        background-color: #FAE01A;
        font-weight: 400;
        padding: 5px 10px;
        margin-left: 20px;
        margin-bottom: 30px;
        font-size: 12px;
    }

    &__auth {
        background-color: #FAE01A;
        border-radius: 30px;
        border: 0px;
        font-weight: 500;
        padding: 10px 20px 12px 20px;
        font-size: 24px;
        margin-left: 50px;
    }

    &__header {
        display: flex;
    }

    &__close {
        max-width: 40px;
        max-height: 40px;
        margin-top: 7px;

        cursor: pointer;
    }
}

.hide {
    display: none;
}

.marks {
    margin-top: 70px;
    &__container {
        top: 10px;
        padding: 0 30px;
    }

    &__desc {
        display: flex;
        justify-content: space-between;
        padding: 0 70px;
    }

    &__item {
        
        display: flex;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__text {
        margin-left: 15px;
        margin-top: 7px;
    }

    &__add {
        width: 244px;
        height: 40px;
        text-align: center;
        border: 0;
        border-radius:30px;
        background-color: #FAE01A;
        font-size: 18px;
        margin-top: 44px;
        margin-left: 240px;
        margin-bottom: 20px;
        font-weight: 500;
        &:hover {
            background-color: #018FA3;
            color: white;
        }

        &:active {
            background-color: #025f6c;
            color: white;            
        }

        transition-duration: 0.5s;
    }
}

.marks__map {
    
    margin: 0 auto;
    margin-top: 45px;
    -webkit-box-shadow: 4px 2px 36px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 2px 36px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 2px 36px 0px rgba(34, 60, 80, 0.2);
}


